@meuTemplate("Turmas - Cadastrar Turma"){
	<form class="form-horizontal" action="/salvarTurma">
		<div class="control-group">
			<label class="control-label" for="nome">Nome</label>
			<div class="controls">
				<input type="text" id="nome" placeholder="Nome">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="periodo">Periodo</label>
			<div class="controls">
				<input type="text" id="periodo" placeholder="Periodo">
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn">Salvar</button>
			</div>
		</div>
	</form>
}